
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<section>
    <h2>Create a Book</h2>
    <form action="/Book/Create" method="get">
        <label for="title">Title:</label>
        <input id="title" type="text" name="title" value="" required /><br />
        <label for="authors">Select an Author:</label>

        <select name="authors" id="authors">
        @foreach(Author author in ViewBag.authors)
        {
            <option value="@(author.ID)">@(author.Name)</option>
        }           
        </select>
        
        <label for="publicationDate">Publication Date</label>
        <input id="publicationDate" type="date" name="publicationDate" value="" required /><br />
        <input type="submit" value="Submit" />
    </form>
</section>

<section>
    @if (ViewBag.addMessage != null)
    {
        <p>@(ViewBag.addMessage)</p>
    }
</section>


